<div class="list-container">
  <section>
    <h2>Choose Providers</h2>
    <div
      (click)="add(provider)"
      class="card"
      *ngFor="let provider of unselectedProviders; let i = index"
      [attr.data-index]="i"
    >
      <h3>Provider: {{ provider.name }}</h3>
      <h4>Contact Info:</h4>
      <span>Address:</span><Address>{{ provider.address }}</Address>
      <div>Phone Number: {{ provider.phone }}</div>
    </div>
  </section>
  <section *ngIf="selectedProviders.length != 0">
    <h2>Your Saved Providers</h2>
    <div
      class="saved_card"
      *ngFor="let provider of selectedProviders; let i = index"
      [attr.data-index]="i"
    >
      <div>
        <button class="close_btn" (click)="remove(provider)">X</button>
      </div>
      <div class="card_content">
        <h3>Provider: {{ provider.name }}</h3>
        <h4>Contact Info:</h4>
        <span>Address:</span><Address>{{ provider.address }}</Address>
        <div>Phone Number: {{ provider.phone }}</div>
      </div>
    </div>
  </section>
</div>
